@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}


.body-class{
    width: 100%;
    padding: 2%;
    height: 25rem;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    background: rgb(255,246,230);
}

.text-area h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #0e0e0f;
    font-family: 'Nunito', sans-serif;
    margin-top: 2rem;
}

.text-area p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Nunito', sans-serif;
    color: #616163;
    width: 30rem;
}

.image-area img{
    width: 700px;
    height: 350px;
    object-fit: cover;
    margin-top: 2rem;
}
.top-up{
    width: 100%;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: 0 0 30px rgba(0, 0, 0, .14);
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

.navbar{
    display: flex;
    gap: 10rem;
    padding: 1rem 45px;
    justify-content: center;
    align-items: center;
}

.two-together{
    display: flex;
    gap: 4rem;
    font-family: 'Nunito', sans-serif;
}

.up-list{
    list-style-type: none;
    text-decoration: none;
}

.under-list{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.image-header img{
    width: 7rem;
    font-family: 'Nunito', sans-serif;
}

.under-list li{
    font-size: 16px;
    line-height: 19.2px;
    color: #222222;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

.derm-1{
    cursor: pointer;
    color: #222222;
    font-weight: 500;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.derm-1 div{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: 1.3rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    left: -1px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.237);
    display: none;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

    .race-in{
        font-size: 14px;
        font-weight: 900;
        font-family: 'Nunito', sans-serif;
    }

.amen-1{
    text-decoration: none;
    color: #1A1A1A;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -3rem;
    font-family: 'Nunito', sans-serif;
}

.amen-1:hover{
    color: #FDBB52;
    font-family: 'Nunito', sans-serif;
}

.derm-1 div p{
    padding: 0.3rem;
    font-family: 'Nunito', sans-serif;
}

.good-God{
    margin-left: -11.5px;    
}

#indian{
    color:#FDBB52;
}

.vrend{
    display: flex;
    align-items: center; 
    transition: all .3s ease-in-out; 
    font-family: 'Nunito', sans-serif;
}

.vrend:hover{
    transform: translateX(25px);
    font-family: 'Nunito', sans-serif;
}

.ihon{
    color:#FDBB52;
    z-index: 10;
    font-size: 28px;
    padding-right: 14px;
    font-family: 'Nunito', sans-serif;
    /* display: none; */
}

.ihon1{
    color:#FDBB52;
    z-index: 10;
    font-size: 28px;
    padding-right: 14px;
    font-family: 'Nunito', sans-serif;
    /* display: none; */
}

.ihon2{
    color:#FDBB52;
    z-index: 10;
    font-size: 28px;
    padding-right: 14px;
    font-family: 'Nunito', sans-serif;
    /* display: none; */
}

.derm-1:hover{
    transition: .2s;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.derm-1:hover div{
    display: block;
    color: rgb(75, 56, 56);
    font-family: 'Nunito', sans-serif;
}

.derm-2{
    cursor: pointer;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.texting-me{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: 1.3rem;
    cursor: pointer;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: -1px; 
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.237);
    display: none;
}


.amen-11{
    text-decoration: none;
    color: #1A1A1A;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -3rem;
    font-family: 'Nunito', sans-serif;
}

.amen-11:hover{
    color: #FDBB52;
    font-family: 'Nunito', sans-serif;
}

.derm-2 div p{
    padding: 0.3rem;
    font-family: 'Nunito', sans-serif;
}

.good-Godd{
    margin-left: -11.5px;    
    font-family: 'Nunito', sans-serif;
}

.vrend-hotel{
    display: flex;
    font-family: 'Nunito', sans-serif;
    align-items: center; 
    transition: all .3s ease-in-out; 
}

.vrend-hotel:hover{
    transform: translateX(25px);
    font-family: 'Nunito', sans-serif;
}

.ihon-s{
    color:#FDBB52;
    z-index: 10;
    font-size: 28px;
    padding-right: 14px;
    font-family: 'Nunito', sans-serif;
}

.ihon-w{
    color:#FDBB52;
    z-index: 10;
    font-size: 28px;
    padding-right: 14px;
    font-family: 'Nunito', sans-serif;
}

.ihon-q{
    color:#FDBB52;
    z-index: 10;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    padding-right: 14px;
}

.derm-2:hover{
    transition: .2s;
    color: black;
}

.derm-2:hover .texting-me{
    display: block;
    color: rgb(75, 56, 56);
    font-family: 'Nunito', sans-serif;
}

.derm-3{
    cursor: pointer;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #222222;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.derm-3:hover{
    color: #FDBB52;
    transition: color .3s;
}

.derm-4{
    cursor: pointer;
    color: #222222;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.derm-4:hover{
    color: #FDBB52;
}

.derm-5{
    cursor: pointer;
    color: #222222;
    font-weight: 500;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.all-together{
    display: flex;
    font-family: 'Nunito', sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: 1.3rem;
    cursor: pointer;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 34.4rem;
    font-size: 16px;
    font-weight: 200;
    position: absolute;
    left: -17rem; 
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.237);
    display: none;
}

.craving-me{
    width: 20rem;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
} 

.craving-m{
    width: 25.1rem;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.craving-e{
    width: 25rem;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

    #coinsd{
        color: #FDBB52;
    }

.amen-21{
    text-decoration: none;
    color: #1A1A1A;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    left: -2rem;
}

.amen-21:hover{
    color: #FDBB52;
}

.derm-5 div p{
    padding: 0.3rem;
}

.good-Godds{
    margin-left: -10px; 
    font-size: 17px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;   
}

.vrend-hotelss{
    display: flex;
    align-items: center; 
    font-family: 'Nunito', sans-serif;
    transition: all .3s ease-in-out; 
}

.vrend-hotelss:hover{
    transform: translateX(35px);
}

.ihon-m{
    color:#FDBB52;
    z-index: 10;
    font-size: 28px;
    padding-right: 14px;
    font-family: 'Nunito', sans-serif;
}

.derm-5:hover{
    transition: .2s;
    color: black;
}

.derm-5:hover .all-together{
    display: flex;
    color: rgb(75, 56, 56);
}

.down-list{
    display: flex;
    gap: 2rem;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.cart{
    cursor: pointer;
    display: flex;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.cart-inside{
    color: var(--text-dark);
    height: 20px;
    width: 20px;
    font-family: 'Nunito', sans-serif;
}

.oooh{
    height: 18px;
    min-width: 18px;
    text-align: center;
    border-radius: 9px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    bottom: 10px;   
    color: white;
    background-color: rgb(253,187,82);
    color: black;
    font-family: 'Nunito', sans-serif;
}

.normal-one{
    font-size: 18px;
    line-height: 21.6px;
    color: #1a1a1a;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.normal-one:hover{
    color: #FDBB52;
}

.normal-two{
    font-family: 'Nunito', sans-serif;
}

.btn-1{
    width: 8.5rem;
    height: 2.8rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    line-height: 24px;
    background-color: #FDBB52;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.btn-1:hover{
    background-color: rgb(53,52,71);
    color: #ffffff;
    transition: .6s;
    font-family: 'Nunito', sans-serif;
}

.startin{
    width: 100%;
    height: 24rem;
    background: rgb(255,240,211);
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog p{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #0e0e0f;
    font-family: 'Nunito', sans-serif;
    margin-top: 2rem;
}

.arrow-container{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
    text-align: center;
}

.arrow-box .bx{
    font-size: 27px;
}

.arrow-box .bx:hover{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.arrow-box{
    display: flex;
    justify-content: center;
    border: 1px solid  rgb(255,240,211);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #fff;
    text-align: center;
    align-items: center;
}

.group > div{
    width: 950px;
    height: 179vh;
    background: transparent;
}

.group > div.cover-right{
    margin-top: 2rem;
    background: transparent;
    position: sticky;
    top: 0;
    height: 90vh;
}

.group{
    padding: 0rem 1px;
    display: flex;
}

/* ==============LEFT===WRAPPER======= */

.left-wrapper{
    padding: 0px 45px;
    display: flex;
}

.left-wrap img{
    border-radius: 9px;
    object-fit: cover;
    width: 23rem;
    height: 15rem;
}

.left-wrap-box img{
    border-radius: 9px;
    object-fit: cover;
    width: 23rem;
    height: 15rem;
}

.left-wrap{
    margin-top: 2rem;
    gap: 5rem;
    margin-right: 2rem;
    padding: 0px 0px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
    height: 67vh;
    width: 25rem;
    margin-left: 2rem;
}
.left-wrap img{
    position: relative;
    left: 1rem;
}
.left-wrap img:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}

.left-wrap-box{
    margin-top: 2rem;
    gap: 5rem;
    padding: 0px 0px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
    height: 67vh;
    width: 25rem;
}

.left-wrap h2{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 500;
}

.left-wrap h2:hover{
    color: #FDBB52;
}

.left-wrap-box h2{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 24px;
    font-weight: 500;
}
.left-wrap-box img{
    position: relative;
    left: 1rem;
}
.left-wrap-box img:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}
.left-wrap-box h2:hover{
    color: #FDBB52;
}

.left-wrap p{
    margin-left: 1rem;
    color: #707072;
    font-size: 16px;
    font-weight: 400;
}

.left-wrap-box p{
    margin-left: 1rem;
    color: #707072;
    font-size: 16px;
    font-weight: 400;
}

.left-wrap a p{
    margin-left: 1rem;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1.4rem;
    color: #FDBB52;
    text-decoration: underline;
}

.left-wrap a p:hover{
    color: #353447;
}

.left-wrap-box a p{
    margin-left: 1rem;
    color: #FDBB52;
    padding: 0dvh 0rem;
    margin-top: 1.4rem;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
}

.left-wrap-box a p:hover{
    color: #353447;
}

.below{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

a button{
    width: 6rem;
    height: 2rem;
    background: #FDBB52;
    border: 1px solid #FDBB52;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
}

a button:hover{
    background: #353447;
    border: 1px solid #353447;
    color: #fff;
}


/* =================RIGHT=====SIDE============= */

.search{
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
    width: 390px;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    border-radius: 8px;

}

.srch{
    width: 250px;
    height: 50px;
    background: transparent;
    font-family: 'Nunito', sans-serif;
    border-radius: 8px;
    border: 1px solid #CFCFD0;
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-left: 1rem;
}

.btn{
    width: 100px;
    height: 45px;
    background-color: #FDBB52;
    border: 2px solid #FDBB52;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 1rem;
}

.srch::placeholder{
    align-items: center;
    padding-left: 1rem;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

/* ================RIGTH--CONTAINER===== */
.right-container{
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
    padding: 5px 20px;
    height: 65vh;
    width: 390px;
    gap: 3rem;
    margin-top: 2rem;
}

.right-container h2{
    margin-top: 1rem;
    font-size: 28px;
    font-weight: 600;
}

.right-box{
    display: flex;
    margin-top: 1.4rem;
}
.right-box img:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}
.right-box p.right-big-text{
    font-size: 16px;
    font-weight:600;
    margin-left: 1rem;
}

.right-box p.right-big-text:hover{
    color: #FDBB52;
}

.right-box p.right-small-text{
    font-size: 15px;
    font-weight:500;
    color: #CFCFD0;
    margin-left: 1rem;
}


.right-box img{
    border-radius: 5px;
    width: 95px;
    object-fit: cover;
    height: 5rem;
}


/* ===============FOOTER============ */

.salam1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 1rem;
}
.salam{
    margin-top: 2rem;
}
.salam1 h2{
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    font-family: 'Nunito', sans-serif;
    color: #0e0e0f;
}

.boot h1:hover{
    color: #fdbb52;
    cursor: pointer;
}
.salam1 svg{
    position: relative;
    right: 14rem;
}
.working{
    display: flex;
    align-items: center;
}
.truth1 button:hover{
    background: #ffffff;
    cursor: pointer;
}
.miss{
    display: flex;
    text-align: center;
    flex-direction: column;
    
}
.could{
    display: flex;
    align-items: center;
    justify-content: center;
}
.could2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-div{
    margin-left: 9rem;
    margin-top: 3rem;
    align-items: center;
    display: flex;
    gap: 17rem;
}
.child-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.child-div p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: rgb(14,14,15);
}
.child-div h5{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: rgb(14,14,15);
}
.btnnp input{
    width: 15rem;
    height: 3.5rem;
    border: 1px solid rgb(207,207,208);
    border-radius: 0.2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #616163;
    line-height: 24px;
}
.child-div{
    display: grid;
    align-items: center;
}
.child-2{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btnnp{
    display: flex;
    gap: 2rem;
    opacity: 0.7;
}

.child-3{
    display: flex;
    align-self: center;
    margin-left: 9rem;
    gap: 12rem;
    margin-top: 3rem;
}
.child-4{
    display: flex;
    align-self: center;
    margin-left: 9rem;
    gap: 12rem;
    margin-top: 3rem;
}
.child-p p{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: 'Nunito', sans-serif;
    color: rgb(97,97,99);
}
.child-p{
    display: grid;
    gap: 1rem;
}
.child-h5 h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: 'Nunito', sans-serif;
    color: rgb(97,97,99);
}
.child-h5{
    display: grid;
    gap: 1rem;
}
.child-h6 h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: 'Nunito', sans-serif;
    color: rgb(97,97,99);
}
.child-h6{
    display: grid;
    gap: 1rem;
    position: relative;
    right: 0.8rem;
}
.btnnpp input{
    width: 32rem;
    height: 3.5rem;
    border: 1px solid rgb(207,207,208);
    border-radius: 0.2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #616163;
    line-height: 24px;
    position: relative;
    left: 11.2rem;
    bottom: 1.5rem;
    opacity: 0.7;
}
.btnnppp input{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #616163;
    line-height: 24px;
    border: none;
    position: relative;
    top: 1rem;
    
}
.btnnppp{
    width: 32.2rem;
    height: 7rem;
    border: 1px solid rgb(207,207,208);
    border-radius: 0.2rem;
    position: relative;
    left: 8.1rem;
    bottom: 5rem;
    font-family: 'Nunito', sans-serif;
    opacity: 0.7;
}
.child-4 button{
    height: 2.7rem;
    background: rgb(253,187,82);
    position: relative;
    right: 32rem;
    top: 4rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: 'Nunito', sans-serif;
    color: rgb(14,14,15);
}
.btt button:hover{
    background: rgb(53,52,71);
    color: #fff;
    cursor: pointer;
}
.hr{
    margin-top: 3rem;
}
.hr hr{
    opacity: 0.2;
}
.child-p span{
    width: 4.5rem;
}
.btt{
    float: right;
    position:relative;
    right: 31.6rem;
    bottom: 3rem;
}
.btt button{
    width: 7rem;
    height: 2.7rem;
    background: rgb(253,187,82);
    border-radius: 0.2rem;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: 'Nunito', sans-serif;
    color: rgb(14,14,15);
}
.last-page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35rem;
    margin-top: 1rem;
    padding: 30px  30px ;
}
.last-page p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #616163;
    font-family: 'Nunito', sans-serif;
}
.child-2 p:hover{
    color: #fdbb52;
    cursor: pointer;
}
.child-2 h5:hover{
    color: #fdbb52;
    cursor: pointer;
}

.init i{
    font-size: 22px;
}
.init{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    left: 7rem;
}
.init i p{
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    font-size: 17px;
    font-weight:500;
    line-height: 18px;
    color: #0e0e0f;
    font-family: 'Nunito', sans-serif;
    background: rgb(253,187,82);
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.press img{
    width: 18px;
    object-fit: cover;
    position: relative;
    right: 0.7rem;
}
.press button{
    background: rgb(67,83,255);
    color: white;
}
.presss img{
    width: 18px;
    object-fit: cover;
    position: relative;
    right: 1.3rem;
}

.iconc i{
    font-size: 1.8rem;
    color: rgb(53,52,71);
}
.iconc #small{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 4rem;
    text-align: center;
}
.iconc{
    display: flex;
    align-items: center;
}
.iconc #small {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.5rem;
}
.iconc #small a{
    font-size: 13px;
    color: rgb(14,14,15);
}


@media (max-width: 600px){
    .image-area img{
        width: 10px;
        height: 100px;
    }

    body{
        overflow: hidden !important;
    }

    .body-class{
        width: 100%;
        padding: 3px 15px;
        height: 1px;
        justify-content: space-between;
    }

    .top-up{
        display: flex;
        justify-content: space-between;
    }

    .under-list{
        display: none;
    }

    .two-together{
        display:flex;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
    }

    .image-header img{
        width: 10px;
    }


    .normal-two{
        display:none;
    }

    .startin{
        width: 100%;
        height: 18rem;
    }

    .blog p{
        font-size: 40px;
        font-weight: 600;
    }
    
    .group > div{
        width: 100%;
        height: 129vh;
        background: transparent;
    }
    

.group{
    display: inline-block;
    
}

/* ==============LEFT===WRAPPER======= */

.left-wrapper{
    margin-top: 1.5rem;
    padding: 0px 15px;
    display: block;
    justify-content: center;
    justify-content: space-between;
}

.left-wrap img{
    border-radius: 9px;
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

.left-wrap-box img{
    border-radius: 9px;
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

.left-wrap{
    margin-top: 1px;
    width: 100%;
    gap: 13rem;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
    height: 90vh;
}

.left-wrap-box{
    margin-top: 1.6rem;
    height: 90vh;
}

.left-wrap h2{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 500;
}



.left-wrap-box h2{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 24px;
    font-weight: 500;
}

.left-wrap-box h2:hover{
    color: #FDBB52;
}

.left-wrap p{
    margin-left: 1rem;
    color: #707072;
    font-size: 16px;
    font-weight: 400;
}

.left-wrap-box p{
    margin-left: 1rem;
    color: #707072;
    font-size: 16px;
    font-weight: 400;
}

.left-wrap a p{
    margin-left: 1rem;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1.4rem;
    color: #FDBB52;
    text-decoration: underline;
}

.left-wrap a p:hover{
    color: #353447;
}

.left-wrap-box a p{
    margin-left: 1rem;
    color: #FDBB52;
    padding: 0dvh 0rem;
    margin-top: 1.4rem;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
}




.group > div.cover-right{
    margin-top: 93rem;
    top: 0;
    display: block;
    padding: 1px 15px;
    width: 100%;
    height: 80vh;
}

.right-container{
    display: block;
    padding: 5px 15px;
    justify-content: space-between;
    justify-content: center;
    height: 90vh;
    width: 100%;
    gap: 3rem;
    margin-top: 1rem;
}

.right-box{
    display: flex;
    margin-top: 1.4rem;
}

.right-box p.right-big-text{
    font-size: 16px;
    font-weight:600;
    margin-left: 1rem;
}

.right-box p.right-big-text:hover{
    color: #FDBB52;
}

.right-box p.right-small-text{
    font-size: 15px;
    font-weight:500;
    color: #CFCFD0;
    margin-left: 1rem;
}


.right-box img{
    border-radius: 5px;
    width: 95px;
    object-fit: cover;
    height: 5rem;
}


.search{
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    border-radius: 8px;

}

.srch{
    width: 250px;
    height: 50px;
    background: transparent;
    font-family: 'Nunito', sans-serif;
    border-radius: 8px;
    border: 1px solid #CFCFD0;
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-left: 1rem;
}

.btn{
    width: 100px;
    height: 45px;
    background-color: #FDBB52;
    border: 2px solid #FDBB52;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 1rem;
}


.salam1 h2{
    display: none;
}


.salam1{
    margin-top: 8rem;
    display: block;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 1px 15px;
}

.salam{
    margin-top: 0rem;
    width: 100%;
}

.salam1 svg{
    position: relative;
    right: 10rem;
}

.working{
    display: inline-block;
    align-items: center;
}

.grand-parent-div {
    margin-top: 2rem;
    padding: 2px 15px;
}

}